VITE_CORS_PROXY="<enter your CORS proxy>"
VITE_OS_DATAHUB_API_KEY="<enter your DataHub API key>"
VITE_THUNDERFOREST_API_KEY="<enter your Thunderforest API key>"
VITE_GEOGRAPH_API_KEY="<enter your Geograph API key>"
VITE_GOOGLE_ANALYTICS_MEASUREMENT_ID="<enter your Google Analytics ID>"

VITE_GPS_ROUTES_API_URL="<enter your GPS Routes API URL>"
VITE_GPS_ROUTES_API_KEY="<enter your GPS Routes API Key>"

VITE_GEODS_POI_API_URL="<enter your GeODS POI API URL>"
VITE_GEODS_POI_API_KEY="<enter your GeODS POI API Key>"

VITE_UNSPLASH_ACCESS_KEY="<enter your Unsplash Access Key>"
VITE_MAPPROXY_BASE_URL="<enter your MapProxy Base URL>"
VITE_COMPANY_DATA_API_URL="<enter your Company Data API URL>"
VITE_POSTCODE_POLYGONS_API_URL="<enter your Postcode Polygons API URL>"
