.leaflet-measure-resultpopup .leaflet-popup-content-wrapper {
  padding: 1px !important;
}

.leaflet-measure-resultpopup .leaflet-popup-content {
  margin: 13px 24px 13px 20px !important;
}

.leaflet-popup-content-wrapper {
  padding: unset !important;
  padding-top: 1px !important;
  padding-left: 1px !important;
}

.leaflet-popup-content {
  margin: -2px -2px 0 -2px !important;
}

.leaflet-popup-content p {
  margin: unset !important;
}

.leaflet-popup-content a:focus {
  outline: 0;
}

.dark .leaflet-bar.leaflet-control {
  border: 2px solid var(--chakra-colors-white-alpha-400) !important;
}

.dark .leaflet-bar a {
  background-color: var(--chakra-colors-gray-800);
  color: var(--chakra-colors-white-alpha-600);
  border-bottom: 1px solid #333;
}

.dark .leaflet-bar a:hover,
.dark .leaflet-bar a:focus {
  background-color: #1b1b1b;
}

.dark .leaflet-bar a.leaflet-disabled {
  background-color: #0b0b0b;
  color: #444;
}

.dark body {
  background-color: var(--chakra-colors-gray-900);
}

.dark .leaflet-popup-content-wrapper,
.dark .leaflet-popup-tip,
.dark .leaflet-control-measure-interaction {
  background-color: var(--chakra-colors-gray-900);
  color: var(--chakra-colors-white-alpha-600);
}

.dark .leaflet-retina .leaflet-control-measure .leaflet-control-measure-toggle,
.dark .leaflet-retina .leaflet-control-measure .leaflet-control-measure-toggle:hover {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAxElEQVR4nO2WUQrCMBBE34rewKtY8RyeQE9bwYtYvYEf408DpSYp1TRRyPsrGdjJ7rANko6SOgWgR9I1pPmC1iTdgS0BzMx6Ay2wD+k+JuJul7yYp+4qolkvacBhwzl7Bf0IUuPqxjqQBZ+BxgaUMJBl9o6agZiBplQGHHUPZKHugZqBugeKZyBr4kdcgKfvTbjoW3DM/+wBp0v9Pfu2kg7AJtX57A6kPp/sQOobvxmc6sDS/MS/4FGw/m0FnIGuRHHg9AKdcidVRg+jKgAAAABJRU5ErkJggg==");
}

.dark .custom-count-icon svg text {
  fill: #ddd;
}

.dark .leaflet-control-attribution,
.dark .leaflet-control-scale-line {
  color: #ccc;
}

.dark .leaflet-control-scale-line {
  background: var(--chakra-colors-black-alpha-400);
  text-shadow: 1px 1px #000;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulse {
  animation: pulse 1s infinite;
  transform-origin: center;
}
