.leaflet-measure-resultpopup .leaflet-popup-content-wrapper {
  padding: 1px !important;
}

.leaflet-measure-resultpopup .leaflet-popup-content {
  margin: 13px 24px 13px 20px !important;
}

.leaflet-popup-content-wrapper {
  padding: unset !important;
  padding-top: 1px !important;
  padding-left: 1px !important;
}

.leaflet-popup-content {
  margin: -2px -2px 0 -2px !important;
}

.leaflet-popup-content p {
  margin: unset !important;
}

.leaflet-popup-content a:focus {
  outline: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulse {
  animation: pulse 1s infinite;
  transform-origin: center;
}
